body {
    font-family: Arial, sans-serif;
    background-color: #a28383;
    text-align: center;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: #e3e313;
    border: 1px solid #6b6b65;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(226, 146, 146, 0.2);
    padding: 20px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #b48686;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #69589f;
}

button:active {
    transform: scale(0.95);
}

button.operator {
    background-color: #2c2169;
    color: white;
    font-weight: bold;
}

button.operator:hover {
    background-color: #ff8800;
}

button.clear {
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
}

button.clear:hover {
    background-color: #690b0b;
}
